# File temporanei creati durante il salvataggio
*.tmp

# File di sistema
Thumbs.db
desktop.ini
.DS_Store

# Progressi personali dell'utente (non vanno nel repository)
data/progress/

# Copertine: sono immagini dei giochi (protette da copyright), le sceglie e le mette ogni utente.
# Si ignora tutto tranne le istruzioni.
covers/*
!covers/README.md
